{% extends "base.html" %}
{% block title %} Search {% endblock %}
{% block body %}
    <h1>Search by Time</h1>  
    <h3>Find books that take a certain time to read</h3>  
    <form action="/searchtime" method="POST">
        <div class="small-10 columns">
            <input type="text" placeholder="Please enter a number such as 3.5" id="user_search" name="user_search" required/>
        </div>
        <div class="small-2 columns">
            <button class="postfix search-button" type="submit">Search</button>
        </div>
    </form>
    {% block results %}{% endblock %}
{% endblock %}